.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(43, 52, 59, 1);
  height: 8vh;
  color: white;
  padding-left: 60px;
}
.body-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #1e272e;
  height: 92vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.materia {
  color: white;
}
