.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2b343b;
  height: 8vh;
  color: white;
  padding-left: 60px;
}
.body-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: #1e272e;
  height: 92vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.materia {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.functions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.page-title {
  margin-right: 5vw;
  font-size: large;
  font-style: medium;
  font-weight: 500;
}
